html,
body,
#app {
    margin: 0;
    height: 100%;
    width: 100%;
}

body {
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen-Sans, Ubuntu, Cantarell, Helvetica Neue, sans-serif;
}

ul {
    padding: 0;
}

li {
    list-style-type: none;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 50px;
}

.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn-clear {
    border: none;
    background: transparent;
}

.nav-link {
    font-size: 18px;
    font-weight: bold;
    text-decoration: none;
    color: inherit;
    cursor: pointer;
}

.card-list {
    margin: 20px;
    font-size: 20px;
}

.card-list li {
    font-size: 14px;
    display: flex;
    margin: 4px;
    align-items: initial;
}

.card-list>li>a {
    text-decoration: none;
}

.grid {
    display: flex;
    flex-wrap: wrap;
}

.space-around {
    justify-content: space-around;
}

.header-lg {
    font-size: 25px;
    font-weight: 300;
    margin: 20px;
}

.header-sm {
    font-size: 20px;
    font-weight: 200;
    margin: 20px;
}

.avatar {
    width: 150px;
    height: 150px;
    border-radius: 3px;
    margin: 0 auto;
    display: block;
}

.link {
    font-size: 18px;
}

.bg-light {
    background: rgba(0, 0, 0, 0.09);
}

.repo {
    border-radius: 3px;
    width: 200px;
}

.login {
    color: red;
}

.center-text {
    text-align: center;
}

.instruction-container {
    margin: 100px 0;
}

.container-sm {
    width: 80%;
    margin: 0 auto;
}

.battle-instructions {
    padding: 0;
    font-size: 25px;
}

.battle-instructions li {
    flex: 1;
    min-width: 250px;
}

.battle-instructions svg {
    padding: 40px;
    border-radius: 3px;
}